.avoid-top{
    margin-top: 10%;
}
.card{
    background-color:transparent;
    border-color: transparent;
}
body{
    background-image: url("img/sky.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.shadow-nohover {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  }

#user-input:focus, #pass-input:focus{
    border-color: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px white;
    outline: 0 none;
}